torch
sentence-transformers
transformers
huggingface-hub
rank-bm25

pydantic
pydantic-settings
fastapi
uvicorn
python-dotenv
langchain
langgraph
jupyterlab
loguru
pytest
pytest-asyncio
coverage
google-api-core
langchain-google-genai
langchain-groq
transformers
sentence-transformers
fuzzywuzzy
python-Levenshtein
memory-profiler
aiohttp
PyMuPDF
